@charset "UTF-8";


#recently_invited_email {
  width: 80%;
}
#recently_invited,#get_link,#recently_added {
  margin: 15px;
}

.hide-tag,.hide-checkbox{
  display: none;
}

.recently_added_btn {
  float: right;
}

#recently_invited_email,.multiple-invited {
  display: inline-block;
  margin-bottom: 20px;
}

.multiple-invited {
  vertical-align: top!important;
  margin-top: 20px;
  margin-left: 20px;
}

.nav-tabs >.active >a, .nav-tabs >li >a{
  margin-right: 10px;
  border: 0px !important;
}
.nav-tabs >.active >a{
border-bottom: 2px solid #2389d7 !important;
}

.nav-tabs {
  border-bottom: 0px!important;
}

.channel-filter-row {
  margin-top: 1px !important;
}

.nav-tabs > .active >a,
.nav-tabs > .active > a:hover,
.nav-tabs >li>a:hover {
  text-decoration: none;
  outline: none !important;
  border-radius: 0px;
  color: #000 !important;
  background-color: transparent!important;
}

.tab-content,.tab-content>.nav-tabs>.active {
  margin-top: 20px;
  min-width: 300px;
}

.invite-checkox-section [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.invite-checkox-section [type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* checkbox aspect */
.invite-checkox-section [type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
.invite-checkox-section [type="checkbox"]:not(:checked) + label:after,
.invite-checkox-section [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
.invite-checkox-section [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.invite-checkox-section [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.invite-checkox-section [type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.invite-checkox-section [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.selectable>label,label{
  font-weight: 400!important;
}
.invite-checkox-section  [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.invite-checkox-section [type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}


